{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |
#}
<div id="header-mainbar" class="header-mainbar">
  <div class="inner bg-inherit">
    <div class="container sides-wrap">
      <div class="right-side flex items-center lg:grow">
        <a class="navbar-brand" href="{{store.url}}">
          <img src="{{store.logo}}" alt="{{store.name}}"/>
        </a>
        <salla-search class="search-bar" id="header-search" inline></salla-search>
      </div>
      <div class="left-side flex items-center justify-center lg:justify-end rtl:pr-4 ltr:pl-4 lg:px-0">
        {% if user.type == "user"%}
        <salla-user-menu></salla-user-menu>
        {% else %}
        <a class="header-icon-button login-button" onclick="salla.event.dispatch('login:open')">
          <i class="icon sicon-user"></i>
        </a>
        {% endif %}
        <salla-cart-summary class="header-icon-button">
          <i slot="icon" class="icon sicon-shopping-bag leading-none"></i>
        </salla-cart-summary>
      </div>
    </div>
  </div>
</div>
